{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<table id="part_table" class="display">
    <thead>
        <tr>
			<th>Image</th>
            <th>Value</th>
            <th>Package</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
		{% for part in parts %}
		<tr>
			<td>
				{% if part.PreviewImage %}
				<img height="64" width="64" src="{{part.PreviewImage.url}}"/>
				{% endif %}
			</td>
			<td>{{part.GetValue}}</td>
			<td>{{ part.Package.Name }}</td>
			<td>{{ part.Category.CategoryName }}</td>
		</tr>
		{% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script type="text/javascript" href="{% static 'app/scripts/app_const.js' %}"></script>
<script type="text/javascript">

	$(document).ready(function () {
		var table = $('#part_table').DataTable({})
			.columns.adjust()
			.responsive.recalc();
	});

</script>
{% endblock %}
