{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">        
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
        {{ field.errors }}
    </div>
{% endfor %}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

{% endblock %}

{% block scripts %}

{% endblock %}
