{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div class="btn-header">
	<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group mr-2" role="group" aria-label="First group">
			<a class="btn btn-secondary" href="{% url 'projects:add' %}">Create Project</a>
		</div>
	</div>
</div>

<table id="project_table" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
			<th>BOM</th>
        </tr>
    </thead>
    <tbody>
		{% for p in Projects %}
		<tr>
			<td>{{ p.Name }}</td>
			<td>{{ p.Description }}</td>
			<td><a href="{% url 'projects:bom' id=p.pk %}">BOM</a></td>
		</tr>
		{% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script type="text/javascript" href="{% static 'app/scripts/app_const.js' %}"></script>
<script type="text/javascript">

	$(document).ready(function () {
		var table = $('#project_table').DataTable({});
	});

</script>
{% endblock %}
