{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<table id="project_table" class="display">
    <thead>
        <tr>
            <th>Part</th>
			<th>Value</th>
            <th>Package</th>
			<th>Quantity</th>
			<th>On Hand</th>
        </tr>
    </thead>
    <tbody>
		{% for p in Parts %}
		<tr>
			<td>{{ p.Part.Category.CategoryName }}</td>
			<td>{{ p.Part.GetValue }}</td>
			<td>{{ p.Part.Package.Name }}</td>
			<td>{{ p.Quantity }}</td>
			<td>{{ p.Part.GetAvailable }}</td>
		</tr>
		{% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script type="text/javascript" href="{% static 'app/scripts/app_const.js' %}"></script>
<script type="text/javascript">

	$(document).ready(function () {
		var table = $('#project_table').DataTable({});
	});

</script>
{% endblock %}

